{% extends "base.html" %}
  
  {% block head %}
    <h1> Create Replica Gateway </h1>
  {% endblock %}
  {% block mainbody %}
  <p style="text-align:center"> It is also possible to create Replica Gateways just by url via the following format: <br/> HOST/syn/RG/create/[volumename]/[gateway_name]/[gateway_password]/[host]/[port]/[private] (optional value: use True or False, default False)
  </p>
  <p class="error">{{ message }}</p><br>
  <form action='{% url django_rg.views.create %}' method="post" enctype="multipart/form-data">{% csrf_token %}
    <table class="createvolume" border>
      {{ form.as_table }}
    </table>
    <input class="submit" type="submit" value="Submit" />
  </form>
  {% endblock %}
  {% block footer %}
  	<a href='{% url django_home.views.home %}'>Home</a>
  {% endblock %}