{% extends "base.html" %}
{% load ms_extras %}  
  {% block head %}
    <h1> Delete Replica Gateway: {{g_name|replace:"_|| "}} </h1>
  {% endblock %}
  {% block mainbody %}
  <p style="text-align:center"> It is also possible to delete Replica Gateways just by url via the following format: <br/> HOST/syn/RG/delete/[gateway_name]/[gateway_password]
  </p>
  <p class="error">{{ message }}</p><br>
  <form action='{% url django_rg.views.delete g_name %}' method="post">{% csrf_token %}
    <table class="createvolume" border>
      {{ form.as_table }}
    </table>
    <input class="submit" type="submit" value="Submit" />
  </form>
  {% endblock %}
  {% block footer %}
  	<a href='{% url django_home.views.home %}'>Home</a>
  {% endblock %}