{% extends "base.html" %}
{% load ms_extras %}  
  {% block head %}
    <h1> Delete Acquistion Gateway: {{g.ms_username|replace:"_|| "}} </h1>
  {% endblock %}
  {% block mainbody %}
  <p style="text-align:center"> It is also possible to delete Acquistion Gateways just by url via the following format: <br/> HOST/syn/UG/delete/[gateway_name]/[gateway_password]
  </p>
  <p class="error">{{ message }}</p><br>
  <form action='{% url django_ag.views.delete g.g_id %}' method="post">{% csrf_token %}
    <table class="createvolume" border>
      {{ form.as_table }}
    </table>
    <input class="submit center" type="submit" value="Submit" />
  </form>
  {% endblock %}
  {% block footer %}
  	<a href='{% url django_home.views.home %}'>Home</a>
  {% endblock %}