{% load ms_extras %}
<table class="volume" border>
      <thead>
	<th> Gateway Name </th>
	<th> Gateway Owner </th>
	<th> Volume(s) </th>
	<th> Host </th>
	<th> Port </th>
	<th> Config </th>
	<th> Delete </th>
      </thead>
      <tbody>

	{% for g, v, o in gateway_vols_owners %} 

	<tr>
      <td><a href="{% url django_ag.views.viewgateway g.ms_username %}">{{g.ms_username|replace:"_|| "}}</a></td>
      <td>{{o.email}}</td>
	  <td>
	  {% for volume in v %}
      {% if not volume.private %}
	  	<a href="{% url django_volume.views.viewvolume volume.name %}">{{volume.name|replace:"_|| "}}</a><br>
	  {% endif %}
	  {% endfor %}
	  </td>
	  </td>
	  <td>{{g.host}}</td>
	  <td>{{g.port}}</td>
	  <td>{{g.json_config}}</td>
	  <td><a href="{% url django_ag.views.delete g.ms_username %}">Delete</a></td>
	</tr>

	{% empty %}

	<tr>
	  <td colspan="7"> No gateways exist </td>
	</tr>

	{% endfor %}

      </tbody>
    </table>