{% extends "base.html" %}
{% load ms_extras %}
  {% block head %}
    <h1> My Replica Gateways </h1>
  {% endblock %}

  {% block mainbody %}
    <table class="volume" border>
      <thead>
	<th> Gateway Name </th>
	<th> Volume </th>
	<th> Host </th>
	<th> Port </th>
	<th> Delete </th>
      </thead>
      <tbody>

	{% for g, v in gateway_vols %} 

	<tr>
      <td>{{g.ms_username|replace:"_|| "}}</td>
	  <td>{{v.name|replace:"_|| "}}</td>
	  <td>{{g.host}}</td>
	  <td>{{g.port}}</td>
	  <td><a href="{% url django_rg.views.delete g.ms_username %}">Delete</a></td>
	</tr>

	{% empty %}

	<tr>
	  <td colspan="5"> No gateways exist </td>
	</tr>

	{% endfor %}

      </tbody>
    </table>
    {% endblock %}
  {% block footer %}
  	<a href='{% url django_rg.views.create %}'>Create Replica Gateway</a>
  	<a href='{% url django_home.views.home %}'>Home</a>
  {% endblock %}