{% extends "base.html" %}
{% block head %}
    <h1> My Volumes </h1>
{% endblock %}
{% block mainbody %}
    <table class="volume" border>
      <thead>
	<th> Volume Name </th>
	<th> Description </th>
	<th> Active </th>
	<th> Users </th>
	<th> Blocksize </th>
      </thead>
      <tbody>

	{% for v, user_set  in vols %} 

	<tr>
      <td><a href='{% url django_volume.views.viewvolume v.name %}'>{{v.name}}</a></td>
	  <td>{{v.description}}</td>
	  <td>{% if v.active %}<span style="font-weight:bold;color:green;"> Active{% else %}<span style="font-weight:bold;color:red;"> Inactive{% endif %}</span></td>
	  <td>
	  	{% for u in user_set %}
	  		{% if forloop.last %}
	  			{{u.email}}
	  		{% else %}
	  			{{u.email}}<br>
	  		{% endif %}
	  	{% endfor %}
	  </td>
	  <td>{{v.blocksize}}</td>
	</tr>

	{% empty %}

	<tr>
	  <td colspan="5"> No volumes exist </td>
	</tr>

	{% endfor %}

      </tbody>
    </table>
    {% endblock %}
    {% block footer %}
    <a  href='{% url django_volume.views.createvolume %}'>Create new volume</a>
    <a  href='{% url django_home.views.home %}'>Back to home</a>
    {% endblock %}
