{% extends "base.html" %}
{% load ms_extras %}

{% block head %}
    <h1> My Volumes </h1>
{% endblock %}
{% block mainbody %}

   {% block volumes_you_own %}

      <h2> Volumes you own </h2>
      
      <!-- Volumes you own -->
      <table class="volume" border>
      <thead>
         <th> Name </th>
         <th> Description </th>
         <th> Active </th>
      </thead>
      <tbody>
         
         {% for volume in vols_owned %}
         <tr>
            <td> <a href='{% url django_volume.views.viewvolume volume.volume_id %}'>{{volume.name}}</a> </td>
            <td> {{volume.description}} </td>
            <td> {% if volume.active %} <span style="font-weight:bold;color:grean;"> Active {% else %} <span style="font-weight:bold;color:read;"> Inactive {% endif %}</span> </td>
         </tr>

         {% empty %}
         <tr>
            <td colspan="3"> No volumes here </td>
         </tr>

         {% endfor %}
      
      </tbody>
      </table>
   {% endblock %}

   {% block volumes_you_rw %}

      <h2> Volumes you can read and write </h2> 

      <!-- Volumes you can r/w -->
      <table class="volume" border>
      <thead>
         <th> Name </th>
         <th> Description </th>
      </thead>
      <tbody>
         
         {% for volume in vols_rw %}
         <tr>
            <td> <a href='{% url django_volume.views.viewvolume volume.volume_id %}'>{{volume.name}}</a> </td>
            <td> {{volume.description}} </td>
         </tr>

         {% empty %}
         <tr>
            <td colspan="2"> No volumes here </td>
         </tr>
         
         {% endfor %}
      </tbody>
      </table>
   {% endblock %}

   {% block volumes_you_ro %}

      <h2> Volumes you can read </h2>

      <!-- Volumes you can r/w -->
      <table class="volume" border>
      <thead>
         <th> Name </th>
         <th> Description </th>
      </thead>
      <tbody>
      
         {% for volume in vols_ro %}
         <tr>
            <td> <a href='{% url django_volume.views.viewvolume volume.volume_id %}'>{{volume.name}}</a> </td>
            <td> {{volume.description}} </td>
         </tr>
         
         {% empty %}
         <tr>
            <td colspan="2"> No Volumes here </td>
         </tr>
         
         {% endfor %}
      </tbody>
      </table>

   {% endblock %}
         

{% endblock %}
{% block footer %}
<a  href='{% url django_volume.views.createvolume %}'>Create new volume</a>
<a  href='{% url django_home.views.home %}'>Back to home</a>
{% endblock %}


<!--{% comment %}
{% extends "base.html" %}
{% load ms_extras %}

{% block head %}
    <h1> My Volumes </h1>
{% endblock %}
{% block mainbody %}
    <table class="volume" border>
      <thead>
	<th> Volume Name </th>
	<th> Description </th>
	<th> Active </th>
	<th> Users </th>
	<th> Blocksize </th>
      </thead>
      <tbody>

	{% for v, user_set  in vols %} 

	<tr>
      <td><a href='{% url django_volume.views.viewvolume v.volume_id %}'>{{v.name|replace:"_|| "}}</a></td>
	  <td>{{v.description}}</td>
	  <td>{% if v.active %}<span style="font-weight:bold;color:green;"> Active{% else %}<span style="font-weight:bold;color:red;"> Inactive{% endif %}</span></td>
	  <td>
	  	{% for u in user_set %}
	  		{% if forloop.last %}
	  			{{u.email}}
	  		{% else %}
	  			{{u.email}}<br>
	  		{% endif %}
	  	{% empty %}
	  		No users.
	  	{% endfor %}
	  </td>
	  <td>{{v.blocksize}}</td>
	</tr>

	{% empty %}

	<tr>
	  <td colspan="5"> No volumes exist </td>
	</tr>

	{% endfor %}

      </tbody>
    </table>
    {% endblock %}
    {% block footer %}
    <a  href='{% url django_volume.views.createvolume %}'>Create new volume</a>
    <a  href='{% url django_home.views.home %}'>Back to home</a>
    {% endblock %}
{% endcomment %}-->