{% extends "base.html" %}
{% block head %}<h1> Welcome! This is the start page with a sitemap </h1> {% endblock %}
{% block mainbody %}
    <ul>
      <li><a href='{% url "django_home.views.home" %}'>Homepage once logged in.</a></li>
      <li><a href='{% url "django_home.views.myvolumes" %}'>Owned volumes.</a></li>
      <li><a href='{% url "django_home.views.allvolumes" %}'>Volumes participant in.</a></li>
      <li><a href='{% url "django_home.views.downloads" %}'>Downloads for gateways etc.</a></li>
      <li><a href='{% url "django_home.views.settings" %}'>Settings for profile here.</a></li>
      <br/>
      <li><a href='/#'>This will be the signup page. Nothing here now.</a></li>
      <li><a href='{% url "django.contrib.auth.views.login" %}?next={% firstof request.path "/home"  %}'> This will be the login page.</a></li>
      <li><a href='{% url "django.contrib.auth.views.logout_then_login">This will be the logout page.</a></li>
    </ul>
{% endblock %}
