{% extends "base.html" %}
{% load ms_extras %}

{% block head %}
<h1> {{volume.name}} <span style="font-style:italic;font-size:60%;">(Version {{volume.version}})</span></h1>
{% endblock %}

{% block mainbody %}
<div class="wrapper">

  <div class="box leftbox">
    <h3>Volume Actions</h3>
    <hr/>
    <ul>
      <li><a href="{% url django_volume.views.volumesettings volume.volume_id %}">Volume Settings</a></li>

      <li><a href='{% url django_volume.views.volumepermissions volume.volume_id %}'>Change Permissions</a></li>

      <li><a href='{% url django_volume.views.deletevolume volume.volume_id %}'>Delete Volume</a></li>
    </ul>
  </div>
  <div class="box rightbox">
    <p> Volume is {% if volume.active %}<span style="font-weight:bold;color:green;">active{% else %}<span style="font-weight:bold;color:red;">inactive{% endif %}</span>.</p>
    <p> Block size:<span style="font-weight:bold;"> {{volume.blocksize}}</span></p>
    <br/>
    <p><span style="font-weight:bold;">Description:</span><br/>
    <p>{{volume.description}}</p>
    </p>
    <br/>
    <p><span style="font-weight:bold;">Users:</span></p>
      <p>
      <section class="volume_users">
         <header class="volume_users_row">
            <div class="volume_users_cell"> Email </div>
            <div class="volume_users_cell"> Capabilities </div>
            <div class="volume_users_cell"> Options </div>
         </header>
         
            {% for u in user_info %}
            <div class="volume_users_row">
               <div class="volume_users_cell">{{u.email}}</div>
               <div class="volume_users_cell"><a href="{% url django_volume.views.changepermissions volume.volume_id %}">{{u.caps_str}}</a></div>
               <div class="volume_users_cell"><a href="{% url django_volume.views.changepermissions volume.volume_id %}">Remove</a></div>
            </div>
            {% empty %}
            <div class="volume_users_row">No users</div>
            {% endfor %}
      </section>
      </p>
    <br/>
    <p><span style="font-weight:bold;">Attached Replica Gateways:</span></p>
    <li>
      {% for g in rgs %}
      <p><a href="{% url django_rg.views.viewgateway g.g_id %}">{{ g.ms_username }}</a></p>
      {% empty %}
      <p> None attached </p>
      {% endfor %}
    </li>
    <br/>
    <p><span style="font-weight:bold;">Attached Acquisition Gateways:</span></p>
    <li>
      {% for g in ags %}
        <p><a href="{% url django_rg.views.viewgateway g.g_id %}">{{ g.ms_username }}</a></p>
      {% empty %}
      <p> None attached </p>
      {% endfor %}
    </li>
  </div>
</div>
<br/>
<br/>
{% endblock %}

{% block footer %}
<a href='{% url django_volume.views.myvolumes %}'>My Volumes</a>
<a href='{% url django_home.views.home %}'>Home</a>
{% endblock %}
