<!DOCTYPE html>
<html>
	<head>
		<!-- Title here -->
		<title>Syndicate</title>
		<!-- Description, Keywords and Author -->
		<meta name="description" content="Syndicate enables users to have private cloud storage where the underlying cloud providers have no visibility into user data.">
		<meta name="keywords" content="Syndicate, Storage, Cloud Storage, Cloud Drive, Private Drive, Privacy, CDN, Content Distribution Network">
		<meta name="author" content="Syndicate Team">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
		
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
		
		
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
		<!-- Font awesome CSS -->
		<link href="static/css/font-awesome.min.css" rel="stylesheet">		
		<!-- Custom CSS -->
		<link href="static/css/style.css" rel="stylesheet">
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="http://syndicatedrive.com/favicon.ico">

				<!-- Begin MailChimp Signup Form -->
	<link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
	<style type="text/css">
		#mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif;  width:350px;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
	</style>

	</head>
	
	<body>
		
		<!-- Top Starts -->
		<div class="top">
						
			<!-- Header Starts -->
			<header>
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="logo">
								<h1><a href="#">Syndicate<span class="tblue">.</span></a></h1>
							</div>
						</div>
						<div class="navigation pull-right">
							<a href="index.html">Home</a>
							<a href="#download">Download</a>
							<a href="#research">Research</a>
							<a href="#about">About</a>
						</div>
					</div>
				</div>
			</header>
			<!-- Header Ends -->
			
			<!-- Hero starts -->
			<div class="hero">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<div class="intro">
								<h2>Decentralized<span class="tblue">.</span> Storage<span class="tblue">.</span></h2>
								<p>With Syndicate users store data privately in the cloud, using any cloud provider. Underlying providers cannot view user data and Syndicate enables fast downloads.</p><br />

								<div id="mc_embed_signup">
								<form action="http://syndicatedrive.us4.list-manage.com/subscribe/post?u=c16cd4b8ca4344319fbe3328d&amp;id=915185dfa6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL"><p style="color:white">Get notified when we release:</p></label><br>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required><br>
	<div class="clear" style="padding:10px"><input type="submit" value="Notify me" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
</form>
</div>
						</div>
						</div>
						<div class="col-md-4">
							<div class="shot">
								<img src="static/img/syndicate_app.png" alt="image" class="img-responsive"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Hero ends -->
		</div>
		<!-- Top Ends -->
		
		<!-- Feature Starts -->
		<div class="features">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="feature-title text-center">
							<h3>Features</h3>
						</div>
					</div>
				</div>
				
				<hr>
				
				
				<div class="row">
					<div class="col-md-3  col-xs-6">
						<div class="feat">
							<p><i class="icon-cloud"></i></p>
							<h4>Decentralized</h4>
							<p>With Syndicate users are not tied down to any single cloud provider and users can seamlessly move between cloud providers.</p>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="feat">
							<p><i class="icon-lock"></i></p>
							<h4>Secure</h4>
							<p>User data is always encrypted and users can explicitly control access to their data. Cloud providers have no visibility into user data.</p>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="feat">
							<p><i class="icon-time"></i></p>
							<h4>Fast</h4>
							<p>Syndicate enables faster data access by securely using content distribution networks which boost the speed of your data downloads.</p>
						</div>
					</div>
					<div class="col-md-3 col-xs-6">
						<div class="feat">
							<p><i class="icon-linux"></i></p>
							<h4>Developer API</h4>
							<p> Application developers can directly build on top of Syndicate and never worry about storing user data or scaling access to that data.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Feature Ends -->
		
		<!-- Shots starts -->
		<div class="shots">
			<div class="container">
				<!-- shot1-->
				<div class="row">
					<div class="col-md-6">
						<div class="screenshot">
							<img src="static/img/syndicate_folder.png" style="width:450px" alt="image"/>
						</div>
					</div>
					<div class="col-md-6">
						<div class="shotcontent">
							<h3><a name="download">Download RPM</a></h3>
							<div class="row">
								<div class="col-md-10 col-xs-6">
									<div class="shot-content-body">
										<h4><i class="icon-hdd tblue"></i> Syndicate Drive</h4>
										<p>Syndicate runs as a <a href="http://fuse.sourceforge.net/">FUSE</a> filesystem on UNIX-like operating systems (Linux, Mac OS X, etc.). You can get the nightly RPMs <a href="http://vcoblitz-cmi.cs.princeton.edu/syndicate-nightly/RPMS/">here</a>. We plan on releasing the source code with documentation soon. Our first release will be for <a href="http://planet-lab.org">PlanetLab</a> users.</p>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<hr>
				<!-- shot1 ends -->
				
				<!-- shot2 -->
				<div class="row">
					<div class="col-md-12">
						<div class="shotcontent">
							<h3><a name="research">Research</a></h3>
							<div class="shot-content-body">
							<p> Syndicate enables a cloud storage "abstraction layer" by providing a virtual private cloud storage service. With Syndicate, a user can combine multiple cloud storage accounts and/or local storage to create a virtual, always-on, decentralized storage drive. Syndicate uses CDNs and edge caches to provide scalable data delievery. 

The key innovation behind Syndicate is a novel data consistency protocol. Syndicate provides the semantics of cloud storage independent of the providers, lowering the barrier-to-entry for deploying cloud storage and increasing consumer freedom.</p><br>

<p>Please read our <a href="static/files/syndicate_poster.pdf">extended abstract</a> or <a href="static/files/syndicate_whitepaper.pdf">whitepaper</a> for a technical overview of the Syndicate architecture.</p><br> <p>Applications that are being built using Syndicate include:</p><br>
</div>

							
							<div class="row">
								<div class="col-md-4 col-xs-4">
									<div class="shot-content-body">
										<h4><i class="icon-inbox tblue"></i> Secure Email</h4>
										<p> Storing emails in the cloud is convenient and enables access to email from multiple devices. However, users have to trust cloud providers for not leaking or processing their emails. Syndicate enables private cloud storage for email.</p>
									</div>
								</div>
								<div class="col-md-4 col-xs-4">
									<div class="shot-content-body">
										<h4><i class="icon-share tblue"></i> Video Sharing</h4>
										<p> We're building a simple video sharing application on top of Syndicate. You can think of this as your personal NetFlix for sharing videos with your friends. Syndicate will take care of content delivery and performance. </p>
									</div>
								</div>
								<div class="col-md-4 col-xs-4">
									<div class="shot-content-body">
										<h4><i class="icon-search tblue"></i> SearchLab</h4>
										<p> <a href="http://searchlab.io">SearchLab</a> is a testbed for running large-scale search experiments.
It enables researchers to quickly deploy search systems by re-using common components and run realistic search experiments using large datasets</p>
									</div>
								</div>
							</div>
							<hr>
							
						</div>
					</div>
				</div>
				<!-- shot2 ends -->
				
				<!-- shot3 -->
				<div class="row">
					<div class="col-md-4">
						<div class="screenshot">
							<br><br>
							<img style="width:200px" src="static/img/princeton_logo.png" alt="image" class="img-responsive"/>
						</div>
					</div>
					<div class="col-md-8">
						<div class="shotcontent">
							<h3><a name="about">About</a></h3>
							<p class="shot-para">Syndicate is developed at the Computer Science department of <a href="http://www.princeton.edu">Princeton University</a>. Syndicate started off as an academic research project by <a href="http://www.cs.princeton.edu/~jcnelson/">Jude Nelson</a> under the supervision of <a href="http://www.cs.princeton.edu/~llp/">Larry Peterson</a>. Syndicate is currently deployed using <a href="http://www.planet-lab.org/">PlanetLab</a> and <a href="http://www.vicci.org/">VICCI</a> and contributors include: <a href="http://muneebali.com" title="">Muneeb Ali</a>, <a href="http://www.linkedin.com/in/wathsala" title="">Wathsala Vithanage</a>, <a href="http://www.linkedin.com/pub/john-whelchel/6b/15/343" title="">John Whelchel</a>, and <a href="https://github.com/iychoi" title="">Illyoung Choi</a>.</p> 
							
						</div>
					</div>
				</div>
				<!-- shot3 ends -->
				<hr>
			</div>
			
		</div>
		
		<!-- Shots Ends -->	
		
		<!-- Footer starts -->
		<footer>
			<div class="container">
				
				<div class="row">
					<div class="col-md-12">
						<div class="copy text-center">
							&copy; 2013 The Trustees of Princeton University. All Rights Reserved.
						</div>
					</div>
				</div>
				
			</div>
		</footer>

<!--End mc_embed_signup-->

		<!-- Footer Ends -->
			
		<!-- Javascript files -->
		<!-- jQuery -->
		<script src="static/js/jquery.js"></script>
		<!-- Bootstrap JS -->
		<script src="static/js/bootstrap.min.js"></script>
		<!-- Respond JS for IE8 -->
		<script src="static/js/respond.min.js"></script>
		<!-- HTML5 Support for IE -->
		<script src="static/js/html5shiv.js"></script>
		<!-- Custom JS -->
		<script src="static/js/custom.js"></script>
	</body>	
</html>