  /* My custom Syndicate mixins
/*****************************************************/

@mixin sticky-footer {
    .hander {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -#{$footer-height};
    }
    .push, .footer {
        height: $footer-height;
        clear:both;
    }
}

@mixin lighten-edges($color, $percent) {
    .row {
        border : {
            left:10px solid lighten($color, $percent);
            right:10px solid lighten($color, $percent);
        }
    }
}